<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板引擎之underscore-template</title>
</head>
<body>
<h3>
    学习网址：<a href="http://www.cnblogs.com/fxxkhigh/p/5556921.html">资料一</a>&nbsp;&nbsp;&nbsp;
              <a href="https://my.oschina.net/liuyuantao/blog/780853">资料二</a>
</h3>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script><!--对jquery的版本有限制，3点几的版本不支持-->
<script src="js/underscore-min.js"></script>
<!--<script type="text/template" id="muban">
    <tr><td>姓名</td><td>性别</td><td>年龄</td></tr>
  <%_.each(datas,function(n){%>
                    <tr>
                        <td><%=n.name%></td>
                        <td><%=n.sex%></td>
                        <td><%=n.age%></td>
                    </tr>

        <%   }); %>
</script>-->

<!--把原生的<% %>改变成{{}}符号
-->
<script>
    _.templateSettings = {
        interpolate : /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g
};
</script>
<script type="text/template" id="muban">
    <tr><td>姓名</td><td>性别</td><td>年龄</td></tr>
    {{ _.each(datas,function(n){ }}
        <tr>
            <td>{{=n.name}}</td>
            <td>{{=n.sex}}</td>
            <td>{{=n.age}}</td>
        </tr>

{{  });}}
</script>
<script type="text/javascript">

        var datas=[{name:"liuxc",sex:"nv",age:26},
            {name:"hedw",sex:"nan",age:27},
            {name:"lisy",sex:"nv",age:12}
        ];
        $("body").append(_.template($("#muban").html(),datas))

</script>
</html>